.headerSection {
   background-image: linear-gradient(to right, darkblue, blue);
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   height: 7vw;
   width: 100%; 
}

.mainSection {
   width:100%;
   height:100%;
   background-image: linear-gradient(to right, lightgray, white);
}

.linksContainer {
   width: 30%;
}

.linksInnerContainer {
      margin-top: 2vw;
}

.registrationPanel {
   width: 25%;
}

.link {
   color:white;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-decoration:none;
   margin:1vw;
      font-size: 1.7vw;
}

.homeButtonsR {
   justify-self:center;
   margin-top:2vw;
   color:white;
   background-color: blue;
}

.homeButtonsL {
   justify-self:center;
   margin-top:.15vw;
   color:white;
   background-color: blue;
}

h1 {
   text-align:center;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.passwordDiv {
   margin-top:1vw;
}

.navButtons {
   display:flex;
   flex-direction: row;
   justify-content: space-around;
}

.postsPanelInitial {
   width: 70%
}

.logo {
   margin-top: 2vw;
   margin-left: 2.5vw;
   font-size: 2vw;
   color:white;
   font-weight: bold;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loginInput {
  margin-right: 50px;
}

.loginLabel {
   color:white;
  margin-right: 50px;
}

.userLabel {
   display: inline-block;
   margin-right: 1vw;
}

.registerLogin {
   display:flex;
   width:100%;
}

.homeContainer {
   display:flex;
   flex-direction:row;
}

.registrationContainer {
    display:flex;
   flex-direction:column;
   width: 30%;
   align-items:center;
   border:.25vw solid gray;
   background-color: white;
   margin-top:4vw;
   margin-left:20%;
   padding-left:3vw;
   padding-right:3vw;
   padding-bottom:4vw;
}

.loginContainer {
   display:flex;
   flex-direction:column;
   width: 30%;
   align-items:center;
   border:.25vw solid gray;
   background-color: white;
   margin-top:4vw;
   margin-right:20%;
   padding-left:3vw;
   padding-right:3vw;
   padding-bottom:4vw;

}

.topBar {
   width: 100%;
   height:5vw;
   background-image: linear-gradient(to right, rgb(103, 100, 100), lightgrey);
   display:flex;
   flex-direction:row;
   justify-content: right;
}

.currentUser {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:darkblue;
   padding-right:5vw;
   font-size:1.5vw;
   display:inline-block;
}

.buttonContainer {
   display:flex;
   flex-direction: row;
   justify-content: center;
}